*{
  font-weight: 100;
  
  margin: 0;
  padding: 0;
}
body{
  background-color: #F4FAFF;
}

.flex-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  align-content: center;
  flex-wrap: wrap-reverse;
}

.flex__form{
  box-shadow: 10px 15px 30px grey;
  background-color: #DEE7E7;
  padding: 40px;
  min-height: 200px;
  flex-grow: 5;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.form-flex__title{
  font-weight: 500;
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 35px;
  color: #4F646F;
}
.form-flex__item{
  font: 400 14px 'Heebo', sans-serif;
  outline: none;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-left: 4px #4F646F solid;
}
.form-flex__divisor{
  background: #4F646F;
  padding: 2px;
  width: 65%;
  margin: 10px 0px;
}
.form-flex__textarea{
  font: 400 14px 'Heebo', sans-serif;
  color: #666;
  resize: none;
  font-size: 14px;
  height: 150px;
  padding: 5px;
  width: 97%;
  outline: none;
  background-color: transparent;
  border: 2px #4F646F solid;
  border-left: 4px #4F646F solid;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.form-flex__button{
  font: 400 14px 'Heebo', sans-serif;
  margin: 10px 0;
  cursor: pointer;
  color: #666;
  width: 100%;
  padding: 5px;
  border: 2px #4F646F solid;
  background-color: transparent;
  border-radius: 15px;
  outline: none;
}
.form-flex__button:hover{
  background-color: #4F646F;
  color: #fff;
}
.flex__img-container{
  
  min-height: 200px;
  box-shadow: 10px 15px 30px grey;
  background-color: #535657;
  flex-grow: 1;
  display: flex;
  padding: 20px;
  margin-right: 30px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.flex__img{
  width: 150px;
  height: 150px;
  background-color: none;
  padding: 10px;
  margin: auto;
  border-radius: 20%;
}
.flex__img i{
  font-size: 150px;
  color: #B7ADCF;
}
@media only screen and (max-width: 650px){
  
  .flex__form{
    flex-grow: 1;
    margin-right: 20px;
    border-radius: 0 0 15px 15px;
    box-shadow: 15px -10px 30px grey;
  }
  .flex__img-container{
    flex-grow: 1;
    margin-right: 20px;
    border-radius: 15px 15px 0 0;
    box-shadow: 15px -10px 30px grey;
  }
}